* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  color: #000;
  text-decoration: none;
}
:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: #6d0707;
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --box-shadow: 0.5rem 0.5rem 0 hsl(231, 69%, 60%);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

::selection {
  background-color: var(--Soft-Blue);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Soft-Red);
}

section {
  padding: 2rem 9%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: var(--Very-Dark-Blue);
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading h1 {
  padding-bottom: 2rem;
}

.heading p {
  max-width: 60rem;
  margin: auto;
  color: var(--Grayish-Blue);
  font-size: 1.7rem;
}

.all-btn {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  background-color: var(--Soft-Blue);
  border-radius: 0.5rem;
  color: #fff;
}

.all-btn:hover {
  background-color: transparent;
  color: var(--Soft-Blue);
  border: 2px solid var(--Soft-Blue);
  color: white;
}

/* navbar sections starts */
.header {
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0%;
  left: 0;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  /* border-bottom-left-radius: 30px; */
  border-radius: 10px;
  /* border-bottom-right-radius: 30px; */
}


.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
}


.header .navbar .btn {
  padding: 0.6rem 3rem;
  background-color: var(--Soft-Red);
  color: #fff;
  border-radius: 5rem;
}


#menu-btn {
  padding: 1rem 1rem;
  background-color: #eee;
  font-size: 3rem;
  color: var(--Soft-Blue);
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
}
/* Media Queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    box-shadow: var(--box-shadow);
    width: 33rem;
    border-radius: 2rem;
    border: 2px solid var(--Soft-Blue);
    background-color: #fff;
  }

  .header .navbar a {
    margin: 2.5rem;
    text-align: center;
    display: block;
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* navbar sections ends */

/* home section starts  */

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.home .content {
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
  padding: 20px;
  max-width: 800px;
}

.home h1 {
  font-size: 4em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home p {
  font-size: 1.8em;
  font-family: "Dancing Script", cursive;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  animation: pulse 2s infinite;
}

.home-btn:hover {
  background-color: #2980b9;
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
  }
}

/* Media Queries Home */

/* Media query for min-width: 1025px and max-width: 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .home h1 {
    font-size: 3.5em;
  }

  .home p {
    font-size: 1.6em;
    margin-bottom: 25px;
  }

  .home-btn {
    padding: 15px 30px;
    font-size: 1.5em;
  }

  .home-image img {
    object-fit: cover;
  }
}

/* Media query for min-width: 768px and max-width: 1024px (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home h1 {
    font-size: 2.8em;
  }

  .home p {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .home-btn {
    padding: 10px 20px;
    font-size: 1.2em;
  }

  .home-image img {
    object-fit: cover;
  }
}

/* Media query for min-width: 481px and max-width: 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .home h1 {
    font-size: 2.5em;
  }

  .home p {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .home-btn {
    padding: 8px 16px;
    font-size: 1.1em;
  }

  .home-image img {
    object-fit: cover;
  }
}

/* Media query for min-width: 320px and max-width: 480px */
@media (min-width: 320px) and (max-width: 480px) {
  .home h1 {
    font-size: 2em;
  }

  .home p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  .home-btn {
    padding: 8px 16px;
    font-size: 1em;
  }

  .home-image img {
    object-fit: cover;
  }
}

/* Media Queries ends */

/* home section ends */

/* features section starts  */

.features .heading {
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  color: var(--Very-Dark-Blue);
}

.features .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 3rem 0;
}
.features .heading p {
  text-align: justify;
  margin-bottom: 20px;
}

.features .row .content {
  flex: 1 1 45rem;
}


/*Button-0 container start*/
.button-container0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  margin: 20px;
  
}

.buttonn {
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #00add0;
  border-radius: 50px;
  background-color: #a6e8fc;
  color: #333;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Arial", sans-serif;
  font-size: 15.5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 220px;
}

.buttonn:hover {
  background-color: #00a859;
  color: white;
}

.active {
  background-color: #00a859;
  color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  .button-container0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .buttonn {
    padding: 10px 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .button-container0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .buttonn {
    padding: 10px 20px;
  }
}

/*Button-0 container end*/

/* features section ends */

